h1{
    background-color: #b3b3ff;
    color: #000066;
    font-size: 40px;
    width: 245px;
    border-left: solid 6px #000066;
}

.card-box{
    height: 300px;
    width: 250px;
    background-color: #ffccdd;
    border: deeppink solid 1.5px;
    border-radius: 30px;
    margin-bottom: 10px;
}

.card{
    height: 150px;
    width: 200px;
    border-radius: 50px;
    margin: 20px 25px 0 25px;
}

.align{
    margin: 30px;
}
